<a href="https://colab.research.google.com/github/Hemalatha2024-cloud/AI_FDP/blob/Pyspark/Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**# Initialize SparkSession**

In [25]:
from pyspark.sql import SparkSession
import pandas as pd
import pyspark.pandas as ps
# Initialize SparkSession
spark = SparkSession.builder.appName("DataFrame Example").getOrCreate()

**Sample data assisgning and Creating and Displaying Dataframe**

In [4]:
# Sample data
data = [("Alice", 29), ("Bob", 31), ("Cathy", 25)]

# Define schema
columns = ["Name", "Age"]

# Create DataFrame
df = spark.createDataFrame(data, schema=columns)
df.show()

+-----+---+
| Name|Age|
+-----+---+
|Alice| 29|
|  Bob| 31|
|Cathy| 25|
+-----+---+

**Display the Selected columns in DataFrame**

In [26]:
 df.select("Name").show()

+-----+
| Name|
+-----+
|Alice|
|  Bob|
|Cathy|
+-----+

**Display the Dataframe with Conditional Statement**

In [6]:
  df.filter(df.Age > 30).show()

+----+---+
|Name|Age|
+----+---+
| Bob| 31|
+----+---+

**Display the Dataframe by Goupby Conditions**

In [7]:
  df.groupBy("Age").count().show()

+---+-----+
|Age|count|
+---+-----+
| 29|    1|
| 31|    1|
| 25|    1|
+---+-----+

**Read CSV file into DataFrame**

In [27]:

df_csv = spark.read.csv("/content/synthetic_staff_productivity (1).csv", header=True, inferSchema=True)
df_csv.show()

+--------+-----------------+---------------+--------------+-------------------+--------------------------+---------------+------------------------+----------------+----------------+-------------------+-----------------------+
|Staff ID|             Name|           Role|Attendance (%)|Task Completion (%)|Student Feedback (Avg /10)|Research Papers|Grants/Funding (â‚¹ Lakhs)|Extra Activities|Work Quality (%)|Response Time (Hrs)|Training Hours Attended|
+--------+-----------------+---------------+--------------+-------------------+--------------------------+---------------+------------------------+----------------+----------------+-------------------+-----------------------+
| STF1000|   William Wright|  Lab Assistant|            68|                 52|                       6.2|              2|                     1.1|               0|              69|                6.6|                      2|
| STF1001|       Diane Carr|Associate Prof.|            87|                 85|                       8.4|              0|                     7.5|               1|              92|                7.7|                      2|
| STF1002|         Amy Shaw|    Admin Staff|            71|                 53|                       9.2|              3|                    19.1|               1|              64|                5.9|                      6|
| STF1003|    Adriana Smith|  Lab Assistant|            83|                 82|                       6.7|              0|                     0.7|               2|              84|                5.1|                      1|
| STF1004|      Jared Clark|  Lab Assistant|            96|                 56|                       6.2|              9|                    17.5|               2|              92|                3.5|                     15|
| STF1005|      Mary Duncan|    Admin Staff|            76|                 88|                       5.8|              9|                    18.1|               0|              52|                7.0|                      8|
| STF1006|  Christine Jones|            HOD|            83|                 77|                       8.7|              9|                    13.8|               2|              76|                4.8|                     14|
| STF1007|   Kristen Briggs|    Admin Staff|            89|                 78|                       7.3|              5|                     0.8|               2|              52|                2.1|                      9|
| STF1008|  Mark Carney DDS|  Lab Assistant|            95|                 96|                       6.7|              7|                     1.6|               3|              62|                7.2|                      3|
| STF1009|  Patricia Romero|Assistant Prof.|            78|                 66|                       7.6|              2|                     1.4|               4|              74|                3.7|                      6|
| STF1010|  Isaac Blackburn|    Admin Staff|            73|                 97|                       7.0|              3|                    18.6|               0|              87|                5.7|                      6|
| STF1011|     Renee Sexton|    Admin Staff|            77|                 91|                       8.9|              5|                     7.6|               4|              84|                4.2|                      6|
| STF1012|      David Lewis|  Lab Assistant|            91|                 50|                       7.5|              8|                     1.6|               3|              81|                4.2|                     19|
| STF1013|   Sarah Williams|  Lab Assistant|            80|                 62|                      10.0|              7|                     9.8|               4|              99|                3.0|                      1|
| STF1014|       Anna Oneal|          Clerk|            69|                 69|                       8.9|              7|                     3.0|               1|              87|                3.3|                     14|
| STF1015|   Brittany Moore|      Professor|            95|                 84|                       8.2|              9|                     7.5|               1|              63|                4.4|                      7|
| STF1016|      Cheryl Boyd|  Lab Assistant|            64|                 97|                       7.5|              0|                    16.2|               0|              91|                2.0|                      1|
| STF1017|Kenneth Rodriguez|      Professor|            83|                 73|                       5.9|              8|                    18.3|               1|              85|                7.5|                      6|
| STF1018|      David Burke|            HOD|            71|                 80|                       8.1|              1|                    16.0|               1|              98|                6.2|                      4|
| STF1019|      Brian Brown|    Admin Staff|            85|                 94|                       5.8|              6|                    14.9|               0|              82|                5.2|                     14|
+--------+-----------------+---------------+--------------+-------------------+--------------------------+---------------+------------------------+----------------+----------------+-------------------+-----------------------+
only showing top 20 rows

**Read excel file as pandas dataframe and converting it into spark DataFrame**

In [24]:
df_pandas = pd.read_excel("/content/STUDENT INFO FOR MENTORS.xlsx", sheet_name="Sheet1")
df_spark = spark.createDataFrame(df_pandas)
df_spark.show()

+----+---------------+-----------------+-------------+
|S.NO|REGISTER NUMBER|     STUDENT NAME|   DEPARTMENT|
+----+---------------+-----------------+-------------+
|   1|       24BBT013|      KANIMOZHI R|Biotechnology|
|   2|       24BBT028|      MERVINE K S|Biotechnology|
|   3|       24BBT042|       PRASANNA Y|Biotechnology|
|   4|       24BBT032|  SUMITHRA DEVI M|Biotechnology|
|   5|       24BBT061|       VIKASINI K|Biotechnology|
|   6|       23BCC012|   ANANYA MAITY G|   Commerce I|
|   7|       23BCC060|HARIHARA SUDHAN A|   Commerce I|
|   8|       23BPS040|         JITHIN J|   Commerce I|
|   9|       23BPS041|         JULIAN Y|   Commerce I|
|  10|       23BPS047|     MANISH RAJ S|   Commerce I|
|  11|       23BPS036|           MANU J|   Commerce I|
|  12|       23BPS033|     NOYAL MATHEW|   Commerce I|
|  13|       23BPS026|         REEHAN J|   Commerce I|
|  14|       23BPS018|          VIPIN S|   Commerce I|
|  15|       24BCC024|    ABDUL KALAM S|   Commerce I|
|  16|       24BCC094|       ABILASH  S|   Commerce I|
|  17|       24BCC003|   ASHWIN KUMAR S|   Commerce I|
|  18|       24BCC014|  BALAMURUGAN   J|   Commerce I|
|  19|       24BCC039|       GOSALAI  G|   Commerce I|
|  20|       24BCC095|MOHAMMAD RIYAS  A|   Commerce I|
+----+---------------+-----------------+-------------+
only showing top 20 rows